@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

:root {
  --main-text: #ff5533;
  --main-bold: bold;
  --main-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  color: white;
}

header,
section {
  padding: 20px 0px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
body {
  background-color: #262a2f;
}

/* header */
.container nav {
  background-color: transparent;
}

.container nav .navbar-brand {
  color: var(--main-text);
  font-weight: var(--main-bold);
  font-size: var(--main-size);
}

.container nav input {
  font-weight: var(--main-bold);
  font-size: var(--main-size);
}

.container nav button {
  color: white;
  background-color: var(--main-text);
  font-weight: var(--main-bold);
  font-size: var(--main-size);
}

/* INDEX */
/* main-info */
.main-info .row {
  justify-content: center;
}

.main-info .container .wrap-info-person {
  padding: 5px 0px;
}

.main-info .container .wrap-info-person .wrap-text-info-person {
  vertical-align: middle;
}

.main-info .container .wrap-info-person .wrap-img {
  position: relative;
  display: inline-block;
}

.main-info .container .wrap-info-person .wrap-img::after {
  content: "";
  background: rgba(196, 196, 196, 0.6);
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 100px;
}

.main-info .container .wrap-info-person .wrap-img img {
  border-radius: 100px;
}

.main-info .container .wrap-info-person .wrap-img,
.wrap-text-info-person {
  display: inline-block;
}

.main-info .container .wrap-info-person .main-repos-info .name {
  display: inline-block;
}
.main-info .container .wrap-info-person .main-repos-info .repositor-info {
  display: inline-block;
}

/* PERSON */
/* ----- main-repository ----- */

.main-repository .main-img {
  text-align: center;
}

.main-repository .main-img .wrap-main-img {
  position: relative;
  display: inline-block;
}
.main-repository .main-img .wrap-main-img::after {
  content: "";
  background: rgba(196, 196, 196, 0.6);
  display: block;
  position: absolute;
  width: 147px;
  height: 147px;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 100px;
}

.main-repository .main-img .wrap-main-img img {
  object-fit: cover;
  border-radius: 100px;
}

@media (min-width: 0px) and (max-width: 576px) {
  .container nav .container-fluid {
    justify-content: center;
  }
}
